<section class="bg-white">
	<div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
		<dl
			class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-3"
		>
			<div class="flex flex-col items-center justify-center">
				<dt class="mb-2 text-3xl md:text-4xl font-extrabold">100+</dt>
				<dd class="font-light text-gray-500">teachers</dd>
			</div>
			<div class="flex flex-col items-center justify-center">
				<dt class="mb-2 text-3xl md:text-4xl font-extrabold">3500+</dt>
				<dd class="font-light text-gray-500">students</dd>
			</div>
			<div class="flex flex-col items-center justify-center">
				<dt class="mb-2 text-3xl md:text-4xl font-extrabold">100%</dt>
				<dd class="font-light text-gray-500">pass rate</dd>
			</div>
		</dl>
	</div>
</section>
