---
import { Image } from 'astro:assets'
import { contentfulClient } from '@/contentful'

const entries = await contentfulClient.getEntries({
	content_type: 'voiceOfPrincipal',
})

const text = entries.items[0].fields.text
---

<section>
	<div
		class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6 text-center md:text-left"
	>
		<Image
			src={import('@/images/khremraj-bhattarai.jpg')}
			class="shadow-lg"
			loading="lazy"
			alt="dashboard image"
		/>
		<div class="mt-4 md:mt-0">
			<h2
				class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
			>
				Voice of Principal
			</h2>
			<p class="mb-6 text-gray-500 md:text-lg">
				{text}
			</p>
		</div>
	</div>
</section>
